<section id="banner">
    <div class="container mx-auto px-7 place-items-center md:place-items-center sm:place-items-center lg:place-items-center lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div class="py-10 sm:pt-32 md:mt-0 xl:mt-30 xl:mr-12">
            <h1>Team management mobile application</h1>
            <p class="text-sm">Start getting things done together with your team based on Pavo's revolutionary team management features</p>
            <div class="flex flex-col gap-4 my-3 mx-4 sm:flex sm:flex-row md:flex-row lg:flex-row">
                <button type="button" class="bg-gray-700 px-3 py-3 rounded-full text-white flex flex-1 items-center gap-2 justify-center">
                    <img src="assets/iphne-icon.svg" class="w-6">
                    <span class="text-base">Download</span>
                </button>
                <button type="button" class="bg-gray-700 px-5 py-3 rounded-full text-white flex flex-1 items-center gap-2 justify-center">
                    <img src="assets/iphne-icon.svg" class="w-6">
                    <span class="text-base">Download</span>
                </button>
            </div>
        </div>
         <img src="https://themewagon.github.io/pavo/images/header-smartphone.png" class="py-4 max-w-70 sm:max-w-96 md:max-w-96">
    </div>
</section>
