html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#blog-header h1 {
    margin: 0 !important;
}

// ul li{
//     margin: 0 12px;
// }

#banner {
    width: 100%;
    background: linear-gradient(rgb(113 152 206), rgb(255, 255, 255));
}

#banner h1 {
    font-size: 3.125rem;
    line-height: 3.75rem;
    font-weight: 600;
}